## Задача 1
Оформляйте ноутбук, используя эти советы:

Номер задачи - заголовок 2
Номер подзадачи - заголовок 3
Предоставленные наборы данных оформляйте, как код

## Задача 2
На складе лежат разные фрукты в разном количестве. Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе, при помощи использования kwargs

In [28]:
def fruits(**kwargs):
    total_fruits = sum(kwargs.values())
    return f'Всего фруктов: {total_fruits}'

In [29]:
print(fruits(ananas=5, bananas=8, mangos=7))

Всего фруктов: 20

## Задача 3
Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты
[100, 125, -90, 345, 655, -1, 0, 200]
Используйте list comprehensions

In [30]:
def expenses(old_expenses_list: list):
    new_expenses_list = []
    for i in old_expenses_list:
        if i > 0:
            new_expenses_list.append(i)
    print(f'Суммарные затраты: {sum(new_expenses_list)}')

In [31]:
old_expenses_list = [100, 125, -90, 345, 655, -1, 0, 200]
expenses(old_expenses_list)

Суммарные затраты: 1425

In [32]:
print(f'Суммарные затраты: {sum([i for i in old_expenses_list if i > 0 ])}')

Суммарные затраты: 1425

## Задача 4
Даны два списка.
Дата покупки
['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
Суммы покупок по датам
[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

### Задача 4.1
Найдите, какая выручка у компании в ноябре
Используйте list comprehensions

In [49]:
date = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', 
        '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', 
        '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
cost = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 
        2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

In [50]:
def november_revenue(date_list: list, cost_list: list) -> list:
    revenue_list = []
    for i in range(len(date_list)-1):
        if '-11-' in date_list[i]:
            revenue_list.append(cost_list[i])
    return revenue_list

In [51]:
print(f'Выручка за ноябрь: {sum([cost[i] for i in range(len(date)-1) if "-11" in date[i]])}')

Выручка за ноябрь: 25098

### Задача 4.2
Найдите выручку компании в зависимости от месяца
Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.
Используйте аннотирование типов.

In [65]:
def revenue(date_list: list, cost_list: list) -> dict:
    revenue_dict = {}
    for i in range(len(date_list)):
        if date[i].split('-')[1] in revenue_dict.keys():
            revenue_dict[date[i].split('-')[1]] += cost[i]
        else:
            revenue_dict[date[i].split('-')[1]] = cost[i]
    return revenue_dict

In [66]:
print(revenue(date, cost))

{'09': 25647, '12': 45452, '10': 28645, '11': 25098}